<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/signup.css">
    <title>GroupChat App signup page</title>
</head>
<body>
    
     <div class="container card w-100 card shadow-lg my-5">

    <main>
        <form > 
            <label for="name">Name</label>
            <input type="text" id="name" class="name"  placeholder="Enter UserName"><br><br>
            <label for="tel">Phone Number</label>
            <input type="tel" id="phone" class="phone" placeholder="Enter phone number"><br><br>
            <label for="email">Email</label>
            <input type="email" id="email" class="email" placeholder="Enter Email"><br><br>
            <label for="password">Password</label>
            <input type="password" id="password" class="password" placeholder="Enter Password"><br><br>
            <div id="error"></div>
            <button id="signup">SIGN UP</button>
        </form>
        <label for="#">Already a user?</label>
     <div class="login"><a href="./login.html">Login Page</a></div>   
    </main>
    <footer>
        <br><br>
    </footer>
</div>
 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="signup.js"></script>
</body>
</html>